click==8.1.2
colorama==0.4.4
cssmin==0.2.0
Flask==2.1.1
Flask-Assets==2.0
Flask-Login==0.6.0
Flask-SQLAlchemy==2.5.1
Flask-WTF==1.0.1
greenlet==1.1.2
itsdangerous==2.1.2
Jinja2==3.1.1
jsmin==3.0.1
lesscpy==0.15.0
MarkupSafe==2.1.1
ply==3.11
python-dotenv==0.20.0
six==1.16.0
SQLAlchemy==1.4.35
webassets==2.0
Werkzeug==2.1.1
WTForms==3.0.1
